body {
            font-family: Arial, sans-serif;
            margin: 0;
        }

        /* Header styling */
        header {
            background-color: #222;
            color: white;
            padding: 10px;
            text-align: left;
            font-size: 25px
        }

        /* Navigation bar styling */
        nav {
            background-color: #333;
            overflow: hidden;
        }

        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
            transition: background 0.3s;
        }

        nav a:hover {
            background-color: #575757;
        }

        /* Main content */
        main {
            padding: 20px;
        }

        /* Footer styling */
        footer {
            background-color: #222;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        label {
            display: block;
            width: 90px;
        }

        input {
            padding: 8px;
            margin: 12px;
            width: 200px;
        }


        