<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Test Website</title>
	{% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <header>
        <h1>Welcome to the Project - Login</h1>
    </header>

    <nav>
        <a href="index.html">Home</a>
        <a href="About.html">About</a>
        <a href="Contact.html">Contact</a>
		<a href="Projects.html">Projects</a>
        <a href="Login.html">Login</a>
        <a href="SignUp.html">Sign Up</a>
    </nav>

    <main>
        <h2>Login</h2>
        <p>Please enter your credentials.</p>

        <label for="Email"> Email: </label>
        <input type="text" id="Email"/>

        <label for="Password"> Password: </label>
        <input type="text" id="Password"/> 
    </main>

    <footer>
        <p>Login</p>
    </footer>

</body>
</html>